/*
Font  Family  
Generici
Navigazione
Titoli
Liste
*/
/* 
    Created on : 24 giu 2020, 10:42:54
    Author     : michelemartinello
*/
/*#### Font family ####*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/*#### Generici ####*/
    html {
     font-size: 16px; /* Font base */
     scroll-behavior: smooth;
    }
    
    
    section {
        border-bottom: 1px solid #333;
    }    

/*#### Navigazione ####*/
  
   
   
   #menu ul {
  margin: 0;
  padding: 0;
}

#menu .main-menu {
  display: none;
}

#tm:checked + .main-menu {
  display: block;
}

#menu input[type="checkbox"],
#menu ul span.drop-icon {
  display: none;
}

#menu li,
#toggle-menu{
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.05);
}

#menu li,
#toggle-menu {
  border-width: 0 0 1px;
}


#menu li,
#toggle-menu,
#menu a {
  position: relative;
  display: block;
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.125);
}

#menu,
#toggle-menu {
    font-family: 'Oswald', 'Trebuchet MS', sans-serif;
  background-color: #09c;
}

#toggle-menu,
#menu a {
  padding: 1em 1.5em;
}

#menu a {
font-family: 'Oswald', 'Trebuchet MS', sans-serif;
text-decoration: none;
text-transform: uppercase;
  transition: all 0.125s ease-in-out;
  -webkit-transition: all 0.125s ease-in-out;
}

#menu a:hover {
  background-color: white;
  color: #09c;
}

#toggle-menu .drop-icon,
#menu li label.drop-icon {
  position: absolute;
  right: 1.5em;
  top: 1.25em;
}

#menu label.drop-icon,
#toggle-menu span.drop-icon {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.125);
  text-shadow: 0 0 0 transparent;
  color: rgba(255, 255, 255, 0.75);
}

#menu .drop-icon {
  line-height: 1;
}


/*##### immagini #####*/

img{
    width: 100%;
}
 
    /*#### Titoli ####*/
    h1, h2, h3, h4, h5, h6{
        font-family: 'Oswald', 'Trebuchet MS', sans-serif;
    }
    
    /*#### Liste ####*/
  
    dt, dd{
         display: inline;
    }
    dd:after {
      content: ' ';
      display: block;
    }
    
    dt{
          min-width: 150px;
          display: inline-block;
    }


    @media only screen and (min-width: 600px) {
  #menu .main-menu {
    display: block;
    height: 50px;
  }

  #toggle-menu {
    display: none;
  }

  #menu ul span.drop-icon {
    display: inline-block;
  }

  #menu li {
    float: left;
    border-width: 0 1px 0 0;
  }
  
  /*#### immagini ####*/
        img{
    width: 40%;
    }
 
    
}
